/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,500,600,700');

@font-face {
  font-family: 'Samsung Sans Medium';
  font-style: normal;
  font-weight: normal;
  src:font-url('SamsungSans-Medium.woff');
  src:font-url('SamsungSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Samsung Sans Thin';
  font-style: normal;
  font-weight: normal;
  src:font-url('SamsungSans-Thin.woff');
  src:font-url('SamsungSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Samsung Sans Bold';
  font-style: normal;
  font-weight: normal;
  src:font-url('SamsungSans-Bold.woff');
  src:font-url('SamsungSans-Bold.woff') format('woff');
}

@font-face {
  font-family: "Lovelace-Medium";
  font-style: normal;
  font-weight: normal;
  src:font-url('Lovelace-Medium.woff');
  src:font-url('Lovelace-Medium.woff') format('woff');
}

@font-face {
  font-family: "Lovelace-Bold";
  font-style: normal;
  font-weight: bold;
  src:font-url('Lovelace-Bold.woff');
  src:font-url('Lovelace-Bold.woff') format('woff');
}

body {
  font-family: 'Lato', sans-serif;
}
#klien-kami{
  background-image: url(asset-path('klien-kami.png'))
}
